.content
  flex 1
  padding-left 40px
  padding-right 40px
  a
    color corTextoLinkConteudo
  form
    margin-bottom 30px
    *
      font-size 16px
      color corTextoFormulario
    input[type=text]
      padding-bottom 2px
      border-bottom 2px solid corTextoPlaceholderContent
      font-size 17px
      font-weight 700
  button
    font-weight 700
    background corFundoBotaoContent
    color corTextoBotaoContent
  ::-webkit-input-placeholder
     color corTextoPlaceholderContent
  :-moz-placeholder
     color corTextoPlaceholderContent
  ::-moz-placeholder
     color corTextoPlaceholderContent
  :-ms-input-placeholder
     color corTextoPlaceholderContent
