.table
  width 100%
  border-collapse collapse
  form
    margin-bottom 0
  button
    color corTabelaRemover
    font-weight 700
    font-size inherit
    display inline
  thead
    td
      color corTabelaTitulo
      font-weight 700
  tbody
    .table--nome,
    .table--acao,
    .table--url
      a
        font-weight 700
    .table--nome a
        color corTabelaNome
    .table--acao
      color corTabelaRemover
    .table--url a
      color corTabelaLink
  td
    border 1px solid corTabelaBorda
    padding 10px 20px
  .table--acao
    text-align center
