.sidebar
  width 210px
  padding-left 20px
  padding-right 20px
  background corFundoSidebar
  flex none
  ul,
  li
    padding 0
    margin 0
  & > ul
    li
      margin-bottom 20px
      &:last-child
        margin 0
  a
    color corTextoLinkSidebar
    span
      line-height 26px
      display inline-block
      background corFundoNumeroFavoritos
      color corTextoNumeroFavoritos
      min-width 25px
      height 25px
      border-radius 50%
      text-align center
      float right
      font-weight 700
      font-size 14px
      position relative
      top -3px

  &--home a
    font-weight 700
    font-size fonteTamanhoMarca
    color corTextoMarca
