*
  font-family fonteFamilia

::selection
  background corFundoSelection
  color corTextoSelection

::-moz-selection
  background corFundoSelection
  color corTextoSelection

body
  background corFundo
  color corTexto
  font-weight 400
  font-size fonteTamanho
  margin 0

a
  text-decoration none

li
  list-style none

h1
  margin-top 0

strong
  font-weight 700

input,
button,
select,
textarea
  border 0
  background transparent
  &:focus
    outline 0

button
  cursor pointer
  padding 0
