.content,
.sidebar
  .h
    &--ccinza
      color #282828
    &--cbranco1
      color #f4f0cb
    &--cbranco2
      color #d1c9ab
    &--cverde1
      color #b8ba47
    &--cverde2
      color #8bbf84
    &--crosa
      color #b88399
    &--cazul1
      color #81a599
    &--cazul2
      color #3e4450
    &--camarelo
      color #fcbb4e
    &--cvermelho
      color #f9463c
