.insereCategoria
    margin-bottom 30px
    display flex
    overflow hidden
    width 25px
    transition .3s width
    &.aberto,
    &:hover
        width 100%
    input
        font-size 16px
        color corTextoFormulario
        padding-bottom 2px
        border-bottom 2px solid corTextoPlaceholderContent
        font-size 17px
        font-weight 700
        width 100%
        flex 1
    .icone
        background corAdicionaCategoria
        border-radius 3px
        width 15px
        height 15px
        flex none
        margin-right 10px
        color corFundoSidebar
        font-weight bold
        box-sizing border-box
        padding-left 3px
        line-height 16px
        position relative
        top 6px
