.deletaCategoria
    button
        background corFundoDeletaCategoria
        color corTextoDeletaCategoria
        position relative
        top -33px
        float right
        border-radius 3px
        text-transform uppercase
        padding 7px 6px
